@{
    ViewBag.Title = "Thư viện";
}
<h2>@ViewBag.Title.</h2>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >
    <title>Document</title>

</head>
<body>
    <table border="1">
        <tr>
            <th>Bài</th>
            <th>Dạng</th>
            <th>Cấp độ</th>
            <th>Ghi chú</th>
        </tr>
        <tr>
            <td><a href="https://vnoi.info/wiki/translate/topcoder/The-Importance-of-Algorithm.md">Tầm quan trọng của thuật toán</a></td>
            <td>Thuật toán</td>
            <td>Dễ</td>
            <td>VIE,VNOI,Không cần thiết</td>
        </tr>
</body>
</html>